@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: rgba(255, 255, 255, 1);
  --color-foreground: rgba(28, 28, 28, 1);
  --color-primary-brand: rgba(28, 28, 28, 1);
  --color-primary-light: rgba(247, 249, 251, 1);
  --color-primary-blue: rgba(227, 245, 255, 1);
  --color-secondary-blue: rgba(177, 227, 255, 1);
  --color-primary-purple: rgba(229, 236, 246, 1);
  --color-secondary-cyan: rgba(168, 197, 218, 1);
  --color-secondary-mint: rgba(186, 237, 189, 1);
  --color-secondary-indigo: rgba(149, 164, 252, 1);
  --color-secondary-green: rgba(161, 227, 203, 1);
  --color-secondary-yellow: rgba(255, 233, 153);
}

.dark {
  --color-background: rgba(28, 28, 28, 1);
  --color-foreground: rgba(255, 255, 255, 1);
  --color-primary-brand: rgba(198, 199, 248, 1);
  --color-primary-light: rgba(255, 255, 255, 0.05);
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
